/*=====================Abertura do Minds e Machina=========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Pag1 {
    padding: 90px;
    margin: 20px;
    /*    background-color: rgb(97, 50, 205);*/
}

.Abertura p {
    color: black;
    font-family: monospace;
    font-size: 14px;
    text-indent: 2em;
    margin-top: 50px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: -3em;
}

/*=====================Fim da Abertura======================*/
/*=====================Secao noticias de abertura=============================*/
.sessao_noticas_aberturas {
    padding: 10px;
    margin: 10px;
    margin-top: 20px;
    /*    background-color: lightgray;*/
}

.sessao_noticas_aberturas h2 {
    font-family: monospace;

}




/*==========Lista de informação=========*/


.text {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 200px;
}

.media >img {
    width: 85%;
    margin-top: 20px;
    /*para manter a proporção*/
    object-fit: cover;
    margin-right: -180px;

    /*permite sobrepor as imagens*/
}

.container_lista_informativo {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    margin-right: 10px;
}

.container_lista_informativo p,
a {
    font-family: monospace;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;

}

/*==========FIm da lista de informaçaõ==*/

/*=====================Fim da secao noticias de abertura======================*/

/*=================Lista de informação: text==================================*/
.Noticias {
    /*    background-color: white;*/
    margin: 10px;
    padding: 10px;
    font-family: monospace;
}


.marginBottom {
    margin-bottom: 150px;
}

/*=================Fim da lista de informação=================================*/




