.Overview_ {
    padding: 60px;
    margin: 20px;

}

.Overview_>p {
    color: black;
    font-family: monospace;
    font-size: 18px;
    text-indent: 2em;
    margin-top: 10px;
    margin-right: 10px;
    text-align: justify;
    line-height: 1.6;
}