/*=====================Abertura do Minds e Machina=========================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Pag1 {
    padding: 90px;
    margin: 20px;
    /*    background-color: rgb(97, 50, 205);*/
}

.Abertura p {
    color: black;
    font-family: monospace;
    font-size: 14px;
    text-indent: 2em;
    margin-top: 50px;
    text-align: justify;
    line-height: 1.6;
    margin-bottom: -3em;
}

/*=====================Fim da Abertura======================*/
/*=====================Secao noticias de abertura=============================*/
.secao_noticas_aberturas {
    padding: 10px;
    margin: 10px;
    /*    background-color: lightgray;*/
}

.secao_noticas_aberturas h2 {
    font-family: monospace;

}



/*==========Lista de informação=========*/

.container_lista_informativo>img {
    width: 65%;
    margin-top: 20px;
    /*para manter a proporção*/
    object-fit: cover;
    /*permite sobrepor as imagens*/

}



.container_lista_informativo {
    display: flex;
    /*border: 2px dashed rgb(255, 3, 242);*/
    justify-content: space-evenly;
    align-items: center;
}

.container_lista_informativo p,
a {
    font-family: monospace;
    text-decoration: none;
    margin: 10px;
    font-size: 20px;

}

/*==========FIm da lista de informaçaõ==*/

/*=====================Fim da secao noticias de abertura======================*/

/*=================Lista de informação: text==================================*/
.Noticias {
    /*    background-color: white;*/
    margin: 10px;
    padding: 10px;
    font-family: monospace;
}

.Secao_Noticias h1,
h2,
p {
    color: rgb(16, 16, 16);
}

.marginBottom {
    margin-bottom: 150px;
}

/*=================Fim da lista de informação=================================*/