main {
    margin: 20px;
    ;
}

.artigo0 {
    margin-bottom: 150px;
}

.artigo0>p {
    text-indent: 2em;
    margin: 10px;
}





/*container*/
.cabecalho_do_artigo {
    /*/**/
    margin-top: 120px;
    display: flex;
    height: auto;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

.classe {
    overflow: hidden;
    text-align: center;

}

.pictureAllan {
    overflow: hidden;

}

#foto_Allanturring {
    width: 100%;
    object-fit: fill;
}

.cabecalho_do_artigo,
h1 {
    margin-left: 40px;
    font-size: 40px;
    font-family: var(--titulosH1);
    color: rgba(101, 105, 136, 0.801);
}

.cabecalho_do_artigo,
h2 {
    font-family: var(--titulosH1);
    font-size: 25px;
    color: gray;
}


.publicidade0_minds {
    height: auto;
    width: 300px;
    /* /*border: dashed rgb(68, 126, 54) 2px;*/
    overflow: hidden;
}

#_Advertisement_minds_00 {
    width: 300px;
    /* /*border: dashed rgb(6, 231, 74) 2px;*/
}

/*===================Artigo*/
.paragrafo0_minds {
    display: flex;
    height: auto;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    /*border: dashed rgb(22, 27, 21) 2px;*/

}

.conjuntoParagrafo0 {
    /*border: dashed rgb(79, 3, 255) 2px;*/
    width: 900px;
}

.h1 {
    color: rgb(109, 109, 136);
    font-family: var(--titulosH1);
}

.conjuntoParagrafo1 {
    display: flex;
    height: auto;
    margin: 20px;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    /*/*border: solid rgb(241, 33, 5) 2px;*/

}

.publicidade1_minds {
    width: 300px;
    height: auto;
    /*border: dashed rgb(22, 27, 21) 2px;*/
    overflow: hidden;
    margin: 20px;

}

.p0 {
    width: auto;
    margin: 10px;
    line-height: 1.6;
    /*border: dashed rgb(185, 9, 185) 2px;*/
}

#ancora {
    color: rgb(134, 134, 134);
    width: 50px;
    height: auto;
}

.maquinaTurring {
    overflow: hidden;

}

.maquinaTurring img {
    width: 100%;
    height: auto;
    /*border: dashed rgb(22, 27, 21) 2px;*/
    overflow: hidden;
    margin: 20px;
}

h6 {
    text-align: center;
    margin: auto;
}

/*===================Fim do Artigo===============*/