/*RESET BÁSICO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    margin-bottom: 90px;
}

/*========================================================================
               1:VARIAVEIS GLOBAIS
========================================================================*/
:root {
    --cor-primaria: #81d0fa;
    /* Azul Escuro */
    --cor-fundo: #e9ecef;
    --cor-texto-principal: #333333;
    --cor-destaque: gray;
    --cor-fundo-secundario: #f4f4f9;
    --cor-fundo-secundario-opII: #0707cf;
    --cor-background: #000072;

    /*Fontes sugeridas pelo HTML*/
    --fonte-titulo: 'Merriweather', serif;
    --fonte-corpo: 'Roboto', sans-serif;

    --espacamento-padding: 1rem
        /*16px*/
}

/*========================================================================
                 2:LAYOUT PRINCIPAL TOPOGRAFIA E CABEÇALHO
========================================================================*/
header {
    background-color: var(--cor-fundo-secundario-opII);
    max-width: 95%;
    width: 75rem;
    text-align: center;
    padding: 5rem;
    margin-top: 5rem;
}

header h1 {
    color: white;
    font-family: monospace;
    margin-bottom: 20px;
}

header h6 {
    color: rgb(202, 199, 199);
    font-size: large;
    font-family: monospace;
    margin-bottom: -10px;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.main-article {
    width: 70%;
    margin: 0 10px auto 30px;

}

/*------------------CITAÇÃO--------------------------*/
.site-quote {
    background-color: var(--cor-fundo);
    padding: 2em;
    border-left: 5px solid var(--cor-destaque);
    font-family: monospace;
    overflow: hidden;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.site-quote img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    object-fit: cover;
}

/*------------------Capa do Livro--------------------*/
.img-turring {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-turring dt {
    margin-top: 25px;
    font-family: monospace;
    font-size: 18px;
    color: gray;
}

.img-turring dl {
    margin: auto;

}

.img-turring img {

    width: 40%;
    height: 40%;
}

.img-transistor img {
    width: 80%;
    height: 80%;
}

.img-transistor {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/*------------------iintrodução ao legado do autor---*/
.section-intro h1 {
    font-family: monospace;
    color: var(--cor-fundo-secundario-opII);
    margin-top: 30px;
    font-size: 25px;

}

.section-intro p {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em;
    /*Google Fonts-Open Sans*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

/*========================================================================
        3. DETALHES DO PRIMEIRO CAPITULO
========================================================================*/
.section-detail h1 {
    font-family: monospace;
    color: var(--cor-fundo-secundario-opII);
    margin-top: 30px;
    font-size: 25px;
}

.section-detail p,
ul {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em;
    /*Google Fonts-Open Sans*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.equacao-pitagoras {
    padding-left: 20%;

}

.section-detail ul {
    padding-left: 0;

    /* 2. Usa margin-left para definir a distância total da borda da tela. 
       A bolinha ficará dentro dessa margem, perto do texto. */
    margin-left: 1.5rem;
    /* Você pode experimentar com valores menores, como 1rem */

    /* 3. Garante que o texto comece após a bolinha */
    list-style-position: inside;
}

.section-detail ol {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em;
    /*Google Fonts-Open Sans*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-left: 1.5rem;
    list-style-position: inside;
}

.section-detail li {
    margin-bottom: 1rem;
    text-align: justify;
}

/* ================================================= */
/* 4. PUBLICIDADE LATERAL (SIDEBAR) */
/* ================================================= */
.ad-sidebar {
    display: flex;
    flex-direction: column;
}

.prod-destaque {
    text-align: center;
    font-family: monospace;
    color: gray;
}

.ad-sidebar p {
    color: var(--cor-background);
    margin-top: 20px;
}

.img-advert {
    width: 310px;
    height: 380px;
    overflow: hidden;
}

.img-advert img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 10px;
}

/* ================================================= */
/* 6. MEDIA QUERY (DE DESKTOP / MAIOR QUE 768px) */
/* ================================================= */


@media (max-width:870px) {
    .main-content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    .main-article {
        width: 100%;
        padding-right: 2rem;
    }

    .ad-sidebar {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;

    }

    .img-turring dt {
        font-family: monospace;
        font-size: 12px;
        color: gray;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .img-turring img {

        width: 60%;
        height: 60%;
    }


    .img-advert {
        width: 160px;
        height: 250px;
        overflow: hidden;


    }

    .img-advert img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        margin-top: 10px;

    }

   /* .img-transistor img {
        width: 90%;
        height: 90%;
    }
        */

}


#relogio {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*========================================*/
.artigo_indice1 {
        width: 90vw;
        height: auto;
        display: flex;
        flex-flow: row wrap;
        margin: 2px 5px 1px 5px;
        align-items: center;
        justify-content: center;
    }


    .img_Capa {
        height: 400px;
        width: 900px;    
        overflow: hidden;
        object-fit: contain;
        width: 400px;
        height: auto;
        flex-grow: 0;
    }

    .manchete {
        height: auto;
        width: 400px;
        margin: auto;
        overflow: hidden;
        color: black;
        font-family: var(--fonte-corpo);
    }

/*========================================*/

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, #CCC, transparent);
    margin-top: 60px;
}

#Outros_conteudos {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
}
/*=======================================*/
/*=========imagem do carro autonomo =====*/
.img-carroAutonomo img{
    width: 100%;
    height: 400px;
    margin-left: 0px;
}


.img-carroAutonomo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/*
<p>Mentes brilhantes & Máquinas incríveis configura-se como uma revista digital primariamente voltada à
                    análise da interrelação _intrínseca entre o ser humano e as tecnologias que transformaram e ainda
                    transformam o mundo que vivemos.
                </p>
                <p>
                    Este periódico filosófico tem por desígnio precípuo estabelecer uma plataforma virtual dedicada à
                    difusão de artigos que se distinguem por sua inovação, rigorosa fundamentação e solidez científica.
                    Tais contribuições fornecem análises conceituais aprofundadas acerca de tópicos situados na
                    intersecção entre a filosofia cognitiva, a lógica, a epistemologia (com ênfase no campo das ciências
                    exatas), a ética e as disciplinas da ciência da computação e de dados.
                </p>
                <p>
                    Adicionalmente, esta revista digital emprega diversas Interfaces de Programação de Aplicativos
                    (APIs) para compilar e apresentar notícias atualizadas, além de referenciar artigos e podcasts
                    pertinentes ao vasto domínio da tecnologia.
                </p>
                <p>
                    Mentes brilhantes & Máquinas incríveis aprofunda-se em investigações filosóficas que abrangem, mas
                    não se limitam a: o papel das tecnologias digitais na elucidação dos processos cognitivos; o
                    estatuto epistêmico de áreas como a ciência da computação e a ciência de dados; a condição moral de
                    entidades de inteligência artificial; e as implicações éticas e sociais decorrentes da concepção, do
                    desenvolvimento e da aplicação de recursos digitais (incluindo robótica, agentes de IA, bots e
                    cobots) em nossas sociedades, em uma multiplicidade de domínios que se estendem da saúde à defesa.
                </p>




*/