/*RESET BÁSICO*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    height: auto;
}

main {
    margin-bottom: 90px;
}

/*========================================================================
               1:VARIAVEIS GLOBAIS
========================================================================*/
:root {
    --cor-primaria: #81d0fa;
    /* Azul Escuro */
    --cor-fundo: #e9ecef;
    --cor-texto-principal: #333333;
    --cor-destaque: gray;
    /* Laranja/Amarelo */
    --cor-fundo-secundario: #f4f4f9;
    --cor-fundo-secundario-opII: #0707cf;
    --cor-background: #000072;

    /*Fontes sugeridas pelo HTML*/
    --fonte-titulo: 'Merriweather', serif;
    --fonte-corpo: 'Roboto', sans-serif;

    --espacamento-padding: 1rem
        /*16px*/
}

/*========================================================================
                 2:LAYOUT PRINCIPAL TOPOGRAFIA E CABEÇALHO
========================================================================*/
header {
    background-color: var(--cor-background);
    max-width: 100%;
    width: 150rem;
    text-align: center;
    padding: 5rem;
    margin-top: 5rem;
}

header h1 {
    color: white;
    font-family: monospace;
    margin-bottom: 20px;
}

header h6 {
    color: rgb(202, 199, 199);
    font-size: large;
    font-family: monospace;
    margin-bottom: -10px;
}

.main-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    margin-bottom: 5rempx;
}

.main-article {
    width: 70%;
    margin: 0 10px auto 30px;

}

/*------------------CITAÇÃO--------------------------*/
.site-quote {
    background-color: var(--cor-fundo);
    padding: 2em;
    border-left: 5px solid var(--cor-destaque);
    font-family: monospace;
}

/*------------------Capa do Livro--------------------*/
.img-book {
    display: flex;
    flex-direction: row;
}

.img-book dt {
    margin-top: 25px;
    font-family: monospace;
    font-size: 18px;
    color: gray;
}

.img-book dl {
    margin: auto;

}

.img-book img {

    width: 30%;
    height: 30%;
}

/*------------------iintrodução ao legado do autor---*/
.section-intro h1 {
    font-family: monospace;
    color: var(--cor-fundo-secundario-opII);
    margin-top: 30px;
    font-size: 25px;

}

.section-intro p {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em;
    /*Google Fonts-Open Sans*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;

}

/*========================================================================
        3. DETALHES DO PRIMEIRO CAPITULO
========================================================================*/
.section-detail h1 {
    font-family: monospace;
    color: var(--cor-fundo-secundario-opII);
    margin-top: 30px;
    font-size: 25px;
}

.section-detail p,
ul {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em;
    /*Google Fonts-Open Sans*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.equacao-pitagoras {
    padding-left: 20%;

}

.section-detail ul {
    padding-left: 0;

    /* 2. Usa margin-left para definir a distância total da borda da tela. 
       A bolinha ficará dentro dessa margem, perto do texto. */
    margin-left: 1.5rem;
    /* Você pode experimentar com valores menores, como 1rem */

    /* 3. Garante que o texto comece após a bolinha */
    list-style-position: inside;
}

.section-detail ol {
    margin-top: 30px;
    font-size: 1.1rem;
    text-align: justify;
    line-height: 1.5;
    text-indent: 2em;
    /*Google Fonts-Open Sans*/
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 12px;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    margin-left: 1.5rem;
    list-style-position: inside;
}

.section-detail li {
    margin-bottom: 1rem;
    text-align: justify;
}

/* ================================================= */
/* 4. PUBLICIDADE LATERAL (SIDEBAR) */
/* ================================================= */


/* ================================================= */
/* 6. MEDIA QUERY (DE DESKTOP / MAIOR QUE 768px) */
/* ================================================= */


