/*
Typical Devices Breakpoints
---------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablets: 768px até 992px
Grandes telas: acima de 1200px
*/



@media only screen and (max-width: 668px) {
    .paragrafos_pII {
        width: 100% !important;
    }

    .container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;

    }

    .item_filho_img {
        width: 93vw;
        height: auto;
        border-radius: 5px;
        object-fit: contain;
        overflow: hidden;
        margin: auto;

    }

    .item_filho_div {
        color: var(--cortitulosSugeridos);
        font-family: var(--titulosH1);
        width: 93vw;
        margin: auto;

    }

    /*==========================================*/
    /*========PUBLICIDADE=======================*/



    /*========PUBLICIDADE=======================*/
    /*==========================================*/

}



/*
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.Main{
    border: 2px dashed rgb(200, 100, 50);
    width: 90vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 50px 50px 50px;
}

.itemI{
        border: 2px dashed rgb(224, 6, 224);
        height: 400px;
        width: 900px;        
        margin: auto;
        flex-grow:0 ;

}
.itemII{
        border: 2px dashed rgb(166, 224, 6);
        height: 400px;
        width: 400px;        
        margin: auto;
        overflow: hidden;

}

.itemII>img{  
    width: 100%;
    height: 100%;
    display: block;
    object-fit:fill;
}


*/