* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


/*===============Tablet==========================*/
@media(min-width:728px) and (max-width:1023px) {
    body {
        width: 100vw;


    }

    main {
        box-shadow: 0px 12px 14px rgba(0, 0, 255, 0.2);
        width: 80vw;
        margin: 10px;
        height: auto;
        background-color: rgb(101, 218, 159);
    }


    .Icon_title {
        margin: auto;
        width: auto;
        overflow: hidden;
        opacity: 0;

    }


    .Icon_img_container {
        display: flex;
        flex-flow: column wrap;
        min-width: 80px;
    }

    .Icon_img_container:hover .Icon_title {
        opacity: 1;
        transition: ease-in-out 0.2s;
        background-color: rgba(119, 118, 118, 0.2);
        color: rgb(156, 155, 155);
        padding: 10px;

    }

    .Icon_img_container>img {
        width: 90px;
        height: 90px;
        margin: auto;
    }





}

/*===============Fim Tablet======================*/

/*===============Desktop==========================*/

/*===============Fim Desktop======================*/