/*
Typical Devices Breakpoints
---------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablets: 768px até 992px
Grandes telas: acima de 1200px
*/



@media screen and (max-width: 768px) {

    /* Seletor e propriedades CSS */
    .paragrafos_pII {
        width: 100%;
    }

    .artigo_indice1 {        
        display: flex;
        flex-flow: row wrap;
        margin: 20px 20px 1px 10px;

    }

    .manchete {
        height: 400px;
        width: 900px;
        margin: auto;
        flex-grow: 0;
    }

    .manchete h2 {
        color: rgb(2, 2, 2);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        text-align: justify;
    }

    .manchete h3 {
        color: rgb(7, 7, 7);
        font-family: monospace;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .artigo_indice1 img {
        object-fit: contain;
    }
}


/*
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.Main{
    border: 2px dashed rgb(200, 100, 50);
    width: 90vw;
    height: auto;
    display: flex;
    flex-flow: row wrap;
    margin: 20px 50px 50px 50px;
}

.itemI{
        border: 2px dashed rgb(224, 6, 224);
        height: 400px;
        width: 900px;        
        margin: auto;
        flex-grow:0 ;

}
.itemII{
        border: 2px dashed rgb(166, 224, 6);
        height: 400px;
        width: 400px;        
        margin: auto;
        overflow: hidden;

}

.itemII>img{  
    width: 100%;
    height: 100%;
    display: block;
    object-fit:fill;
}


*/