/*
Typical Devices Breakpoints
---------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablets: 768px até 992px
Grandes telas: acima de 1200px
*/

@media screen and (max-width:720px) {


    .paragrafo_linha0 p {

        /* border: 2px dashed black;*/
        font-size: 10px;
        padding-right: 5px;
        padding-left: 5px;
        margin: -20px;

    }

    .slides_vector img {
        padding: 15px;
        margin: 15px;
        margin: 15px;

        display: block;
        object-fit: fill;

    }


    main {

        margin: auto;
        margin-right: 20px;
        /* border: 2px dashed red;*/
        width: 900px;
    }

    .publicidade0 {
        height: auto;
        width: 300px;
        border: dashed rgb(82, 92, 82) 2px;
        margin: auto;
    }

    .publicidade0 img {
        width: 300px;
    }

    #foto_Allanturring img{
        width: 100px;
        object-fit: fill;
        border: dashed red 2px;
    }

}