/*=====================Pager1=========================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Pag1{
    padding: 90px;
    margin: 20px;
    background-color: yellowgreen;
    
}

.Abertura p{
    color: black;
    font-family: monospace;
    font-size: 14px;
    text-indent: 2em;
    margin-top: 50px;    
    text-align: justify;
    line-height: 1.6;
    margin-bottom: -3em;
}



/*=====================Fim Page1======================*/