/*
Typical Devices Breakpoints
---------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablets: 768px até 992px
Grandes telas: acima de 1200px
*/



@media screen and (max-width: 768px) {
    /* Seletor e propriedades CSS */
    .paragrafos_pII {
        width: 100%;
    }
}
